@import "main.css"; 

body{
    background-color: black;
}
#introduction-block, #member-block, #contact-block{
    width: 80%;
    margin: 0 auto;
}
#member-block section{
    width : 100%;
}
#introduction-text{
    font-size: 1.2rem;
    line-height: 1.2cm;
}
.links-block{
    width: 80%;
    height: 2rem;
}
.links-block a{
    margin: 0 1rem;
}

.bi{
    color: gray;
    /*padding-left: 0.5rem;
    padding-right: 0.5rem;*/
    font-size: 2rem;
    margin:auto;
}
.icondot{
    z-index: -1;
    position: absolute;
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 100vw;
    background-color: white;
}

footer{
    height: 10rem;
}

@media (max-width: 768px) {
    #introduction-text{
        width: 80%;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .bi{
        font-size: 1.2rem;
    }
    .icondot{
        width: 2rem;
        height: 2rem;
    }
    .links-block a{
        margin: 0 0.7rem;
    }
}